:root{
    --color-background: #f9fbfb;
    --color-primary: #344e55;
    --color-primary-2: #344e5546;
    --color-secondary: #dfe9ec;
    --color-accent: #3e5d65;
    --color-red: rgba(255, 0, 0, 0.46);
    --color-green: rgba(26, 255, 0, 0.46);
}


body,
html {
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    
    height: 100vh;
}

.toolbar {
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px 10vw;
    background-color: var(--color-primary);
    box-shadow: 0 0 20px 2px var(--color-accent);
}

.heading {
    align-self: center;
    justify-self: center;

    color: var(--color-background);
    font-weight: 800;
    font-size: 40px;
}

button {
    align-self: center;
    justify-self: center;

    height: 2.5rem;
    width: 9rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;

    background-color: var(--color-primary);
    color: var(--color-background);
    border: 2px solid var(--color-background);
}

button:hover {
    color: var(--color-primary);
    border: none;
    background-color: var(--color-background);
}

#form-submit {
    border: none;
}

#form-submit:hover {
    border: 1px solid var(--color-primary);
}

label {
    font-weight: 300;
}

button.read-notread {
    border: none;
    margin-top: .5rem;
    background-color: var(--color-primary-2);
    font-weight: 200;
    font-size: .9rem;
    color: black;
    outline: 2px solid rgba(255, 0, 0, 0.46);
}

button.read {
    outline: 2px solid rgb(214, 255, 214);
}


.main {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 15px;
    justify-items: center;
    padding: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: .7rem;

    padding: 2rem 1.4rem 1.2rem 1.4rem;
    background: var(--color-primary-2);
    height: 12rem;
    width: 8rem;
    border-radius: 10px;
}

.delete-card {
    align-self: flex-end;
    position: absolute;
    right: 5px;
    top: 5px;
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label {
    opacity: .4;
    font-weight: 200;
    font-size: .9rem;
}

.material-symbols-outlined {
    transition: .2s ease-in-out;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined:hover {
    transform: rotate(90deg);
    color: red;
}

.modal {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0px;

    padding-top: 90px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-secondary);
    padding: 2rem 3rem;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}