body,
html {
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    
    height: 100vh;
}

.toolbar {
    grid-row: 1 / 1;
    align-items: center;


    padding: 10px 10vw;
    background-color: rgb(207, 207, 207);
    display: flex;
}

button {
    height: 2.5rem;
    width: 9rem;
}

.main {
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;

    padding: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    padding: 2rem 1.4rem 1.2rem 1.4rem;
    background: rgb(229, 241, 229);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.delete-card {
    align-self: flex-end;
    position: absolute;
    right: 5px;
    top: 5px;
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label {
    opacity: .4;
    font-weight: 200;
    font-size: .9rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.modal {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0px;

    padding-top: 90px;
    height: 100%;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.182);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(154, 205, 223);
    padding: 2rem 3rem;
    border-radius: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}